body {
background-color: #D7EDF5;
margin:0px;
padding:0px;
font: 10px  verdana, arial, helvetica;
color: #416271;
}
h1 { color:#005386; font-size:13px; font-weight:bold; line-height:30px}
p{
text-align:justify;
padding:2px 0 2px 0;
margin:0px;
line-height:15px;
}
p.white{
color:#FFFFFF;
}
p.green{
color:#d4f0ba;
}
p.clear{
clear:both;
padding:10px 0 0 0;
}
img.left_img{
border:1px #cae6c6 solid;
float:left;
margin:0 10px 0 0 ;
}
img.box_img{
float:left;
padding:0 20px 0 0 ;
}
#main_container{
width:980px;
height:auto;
margin:auto;
background-color:#FFFFFF;
}
#header{
width:980px;
height:auto;
margin:auto;
}
#logo{
float:left;
}


.url-navegation { 
position:relative;
height:25px;
line-height:25px;
color:#000;
background: url(images/td.png) bottom left repeat-x;
padding:0 0 0 15px;
margin:0
}
.url-navegation p.user { 
background:none;
height:25px;
line-height:25px;
padding-right:10px;
margin-right:5px;
overflow:hidden;
float:right;
font-size:11px
}

.url-navegation span.node { 
background:url(images/crumbs.png) top right no-repeat;
height:25px;
line-height:25px;
padding-right:20px;
margin-right:5px;
overflow:hidden;
float:left;
font-size:11px;

}

.url-navegation span a.node { 
background:url(images/crumbs.png) top right no-repeat;
height:25px;
line-height:25px;
padding-right:20px;
margin-right:5px;
overflow:hidden;
float:left;
font-size:11px
}

.url-navegation span a.node  {
        text-decoration: none;
        color:#333;
}
.url-navegation span  a.node:hover {
        text-decoration:underline;
        color:#43BEE8
}
/*-------------- css menu ---------------------*/



#menu
{
    width:980px;
    height:28px;
    padding:0px;
    clear:both;
    background-color:#1871A8;
    BORDER-BOTTOM: #e1e2e4 5px solid
}

.primaryStaticMenu {
    FLOAT: right;
    height:8px;
}
.primaryStaticMenuItem {
    BACKGROUND: #fff !Important; 
    WIDTH:16em;
    COLOR: #063E66; 
    padding: 6px 0 6px 0 !Important; 
    text-align:center !Important;
    BORDER-TOP: #1871A8 2px solid !Important;
    BORDER-BOTTOM: #1871A8 1px solid !Important;
    BORDER-right: #1871A8 2px solid !Important;
    font-weight:bold;
}
.primaryStaticMenuItem:hover {
    BORDER-TOP: #57bbe9 3px solid !Important;
    BORDER-BOTTOM: #57bbe9 2px solid !Important;
    BACKGROUND: #fff url(images/menu_a.gif) no-repeat center bottom !Important;
    COLOR: #43BEE8 !Important;
    font-weight:bold;
}

.primaryDynamicMenu {
    BORDER-LEFT: #BDBCBD 1px solid !Important;
    BORDER-RIGHT: #BDBCBD 1px solid !Important;
    BORDER-TOP: #BDBCBD 1px solid !Important;
    background-color: White !Important;
    z-index:999 !Important;
}
.primaryDynamicMenuItem {
    BORDER-bottom: #BDBCBD 1px solid !Important;
    PADDING-BOTTOM: 0.5em;
    BACKGROUND-COLOR: #fff !Important;
    PADDING-LEFT: 1em;
    WIDTH: 15em;
    PADDING-RIGHT: 0px;
    COLOR: #777;
    PADDING-TOP: 0.5em
}
.primaryDynamicMenuItem:hover {
    BORDER-bottom: #BDBCBD 1px solid !Important;
    PADDING-BOTTOM: 0.5em;
    BACKGROUND-COLOR: #fff !Important;
    PADDING-LEFT: 1em;
    WIDTH: 15em;
    PADDING-RIGHT: 0px;
    COLOR: #43BEE8 !Important;
    PADDING-TOP: 0.5em;
}

a.popout-dynamic  {
    background:url("images/arrow_state_grey_right.png") no-repeat right center !Important;
    z-index:999 !Important;
    background-color: White !Important;
}


.primaryDynamicHover {
    BACKGROUND: #f0e7d7; COLOR: #800000
}
.secondaryLevelOne {
    PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 1.5em 0px 0px; PADDING-LEFT: 5px; WIDTH: 15em; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 35px; PADDING-TOP: 5px
}
.secondaryLevelTwo {
    PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND: #fafbfb; PADDING-TOP: 5px
}
.secondaryStaticHover {
    COLOR: #ffffff
}

/*-------------- css contenido ---------------------*/

#main_content{
width:auto;
height:auto;
clear:both;
border: 1px solid;
border-radius: 6px;    
padding: 0px 10px 10px 10px;  
margin-top: 0px;
margin-bottom: 0px
}

.cab {
position:relative;
overflow:hidden;
background:url(images/bg_formulario.png) bottom left repeat-x;
border:1px solid #BDBCBD;
margin-bottom:0;
font-weight:bold
}
.cab h2 { font-size:11px; padding-left:20px; background:url(images/arrow_state_grey_right.png) 0 0 no-repeat; line-height:16px; color:#005386 }

.filtro {
    position:relative;
    overflow:hidden;
    background:#fff url(images/bg_formulario.png) bottom left repeat-x;
    border-bottom:1px solid #BDBCBD;
    border-left:1px solid #BDBCBD;
    border-right:1px solid #BDBCBD;
    padding: 10px;
    margin-bottom:10px;
}

.botones 
{
    position:relative;
    overflow:hidden;
    background:#fff url(images/bg_formulario.png) bottom left repeat-x;
    border-bottom:1px solid #BDBCBD;
    border-left:1px solid #BDBCBD;
    border-right:1px solid #BDBCBD;
    vertical-align:bottom; float: none;
    padding: 0px 0px 10px 440px;
    outline:0;
    
}  

/*Estilos para Formularios de Listados */
.fila { height:30px; overflow:hidden; padding: 7px 0px 0px; position:relative; }

.columnamenutxt {
width: 23%; float: left;margin:  3px  0px 0px 2px;padding:0;outline:0;  font-family:Arial, Helvetica, sans-serif; 
font-weight:bold; 
}  

.columnamenuddl {
width: 18%; float: left;margin:  3px  0px 0px 5px;padding:0;outline:0;  font-family:Arial, Helvetica, sans-serif; 
font-weight:bold; 
}  

.columnamenubtn {
width: 10%; float: left;margin:  1px  0px 0px 5px;padding:0;outline:0;  font-family:Arial, Helvetica, sans-serif; 
font-weight:bold; 
}  

.columnamenutxt span { font-size:1.05em;  font-weight: bold; color: #005386;  padding: 1px 0px 0px 0px; }

.columnamenutxt input[type='text'] {    padding: 3px 2px;    width: 115px;    border: 1px solid #CED5D7;  
                                  resize: none;    box-shadow:0 0 0 3px #EEF5F7;    margin: 1px 0;
                                    border-radius: 3px;  font-family:Arial, Helvetica, sans-serif; font-size:1.1em;    }
.columnamenutxt input[type='text']:focus{    outline: none;    box-shadow:0 0 0 3px #dde9ec;}

.columnamenutxt input[type='textarea'] {    padding: 3px 2px;    width: 115px;    border: 1px solid #CED5D7;  
                                  resize: none;    box-shadow:0 0 0 3px #EEF5F7;    margin: 1px 0;  
                                     border-radius: 3px;  font-family:Arial, Helvetica, sans-serif; font-size:1.1em;    }
.columnamenutxt input[type='textarea']:focus{    outline: none;    box-shadow:0 0 0 3px #dde9ec;}

.columnamenuddl select {    border:1px solid #CED5D7; font-family:Arial, Helvetica, sans-serif; font-size:1.1em; padding: 2px 1px;  margin:0px 0;  width:100px; }

.columnamenuddl select:focus{    outline: none;    box-shadow:0 0 0 3px #dde9ec;}


.columnamenuddl span { font-size:1.05em; font-weight: bold; color: #005386;  padding: 0px 0px 0px 0px; }

                 
.columnamenubtn span { font-size:0.94em;  font-weight: bold; color: #FFFFFF;  padding: 0px 0px 0px 0px; }

.btn_frm { background: url(images/btn11.png) 0 -24px no-repeat; padding-left:17px; width:84px; font-family:Arial, Helvetica, sans-serif;  color: #FFFFFF;   border: 1px solid #CED5D7; font-size:1.05em;     
              height:24px; display:block; font-weight: bold; text-align:center;   cursor:pointer;   border:0; cursor:pointer;        
              line-height:22px; float:right; margin:0 } 
                                                                         
.btn_frm:hover{ background:url(images/btn11.png) 0 0 no-repeat; padding-left:17px; width:84px; height:24px; display:block; border:0; cursor:pointer; text-align:center; 
                 font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:22px} 

.btn_search { background: url(images/btn2.png) 0 -24px no-repeat; width:84px; font-family:Arial, Helvetica, sans-serif;  color: #FFFFFF;   border: 1px solid #CED5D7; font-size:1.05em;     
              height:24px; display:block; font-weight: bold; text-align:center;  padding-left:20px; cursor:pointer;   border:0; cursor:pointer;        
              line-height:22px; float:right; margin:0 } 
                                                                         
.btn_search:hover{ background:url(images/btn2.png) 0 0 no-repeat; width:84px; height:24px; display:block; border:0; cursor:pointer; text-align:center; 
                   padding-left:20px; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:22px} 
                                         
.tabla {
  overflow:hidden;  border:1px solid #BDBCBD; font-size:11px;
}

.tabla div { overflow:auto }

.tabla table{
    border-collapse: collapse;
}
.tabla td, .tabla th{
    border: 1px solid #fff
}
.tabla thead tr{
    background:#fff url(images/grid.png) top left repeat-x
}

.tabla thead tr th{ color:#fff; text-decoration:none; font-weight:normal; padding:10px;cursor:pointer; text-align:center; }
.tabla thead tr th a{ color:#fff; text-decoration:none; font-weight:normal }

.tabla tbody tr.row{
    background:url(images/td.png) bottom left repeat-x; 
}
.tabla tbody tr.row:hover{
    background:#D7D7D7 url(images/td_over.png) top left repeat-x;
    /*background:#F8F8F8*/
}
.seleccionada{
    background:url(images/td_select.png) bottom left repeat-x !important ;
}
.tabla tbody td{
    padding:10px
}
.tabla tbody td a:link{
    color:#005386;
    text-decoration: underline; 
}
.tabla tbody td a:hover{
    color:#43BEE8;
    text-decoration: underline;
}
.tabla tbody tr.detail {
position:relative;
overflow:hidden;
/*background:#fff url(images/bg_formulario.png) bottom left repeat-x;*/
border-bottom:1px solid #BDBCBD;
border-left:1px solid #BDBCBD;
border-right:1px solid #BDBCBD;
background-color: #e8e8e8;
}

.pager { margin:20px auto; width:280px; text-align:center;z-index:999 !important; }


.header {
    BACKGROUND: url(images/arrow_bg.png) no-repeat; BORDER-LEFT: #fff 1px solid; PADDING-LEFT: 30px; HEIGHT: auto; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #000 1px solid; PADDING-TOP: 8px; text-align:center
}
.headerSortUp {
    BACKGROUND-IMAGE: url(images/asc.png); BACKGROUND-REPEAT: no-repeat
}
.headerSortDown {
    BACKGROUND-IMAGE: url(images/desc.png); BACKGROUND-REPEAT: no-repeat
}


/* ------ */                                      
                                            
.menulist{
    width:100%; height:30px; padding: 7px 0px 0px;  /* clear:both; */background-color:#1871A8;
}



.InputDatos{    border: 1px solid;    border-radius: 6px;    padding: 15px 45px 10px;  margin-top: 5px; height:380px;    
                   background-color: white;    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;}

.ventana {
float: left;
padding-bottom: 10em;
margin:  0px  10px 0px 20px ;
padding:0;outline:0;
}  
.ventana div{    margin-bottom: 15px;}
.ventana span {  font-weight: bold;
                color: Black; }

.ventana p { font-size:1.1em;  font-weight: bold; color: Red; padding: 0px 0px 0px 0px; }

.ventana input[type='text'] {    padding: 4px 6px;    width: 200px;    border: 1px solid #CED5D7;    
                                  resize: none;    box-shadow:0 0 0 3px #EEF5F7;    margin: 5px 0;
                                  text-transform: uppercase;
                                  border-radius: 3px;   }

                  
.columna {
width: 45.8%;
float: left;
padding-bottom: 10em;
margin:  0px  10px 0px 20px;
padding:0;outline:0;
}                  

.columna div{    margin-bottom: 15px;}

.columna span {  font-weight: bold; color: #005386; }

.columna p { font-size:1.1em;  font-weight: bold; color: Red; padding: 0px 0px 0px 0px; }

.columna input[type='text'] {    padding: 4px 6px;    width: 260px;    border: 1px solid #CED5D7;    
                                  resize: none;    box-shadow:0 0 0 3px #EEF5F7;    margin: 5px 0;
                                  border-radius: 3px;   }
.columna input[type='text']:focus{    outline: none;    box-shadow:0 0 0 3px #dde9ec;}


.columna input[type='checkbox'] { padding: 0px 0px; height:16px; width: 16px; border: 0px solid #CED5D7; clip: auto;
                                  position: static;  vertical-align:middle;
                                 }
                                 
.columna input[type='checkbox'] + label { font-weight: bold; color: #005386;    }                                 


.columna textarea { padding: 5px 6px;    width: 260px;    border: 1px solid #CED5D7;    
                                  resize: none;    box-shadow:0 0 0 3px #EEF5F7;    margin: 5px 0;
                                  border-radius: 3px;   }

.columna textarea:focus{    outline: none;    box-shadow:0 0 0 3px #dde9ec;}

.columna select {  border:1px solid #CED5D7; padding: 3px 3px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
                    margin:5px 0;  width:275px; }

.columna select:focus{    outline: none;    box-shadow:0 0 0 3px #dde9ec;}


.botones input[type='submit']{ width:85px;   color: #FFFFFF;   border: 1px solid #CED5D7; font-size:1.1em;    box-shadow:0 0 0 3px #EEF5F7;    padding: 3px 6px;    
                                   border-radius: 10px; height:28px;    font-weight: bold;    text-shadow: 1px 1px 0px white;     background: #1871A8;    
                                   background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);    
                                   background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);}



.botones input[type='submit']:hover{    background: #D7EDF5;  color: #003C69;   background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);    
                                         background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);}
.botones input[type='submit']:active{    background: #D7EDF5; color: #003C69;    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);    
                                          background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);}


.block_center {
  color:#1871A8; font-size:11px; padding-bottom: 10em; text-align:center; font-weight: bold;  margin:  0px  0px 0px 0px; padding: 0; outline:0;
}   

/*.block_center div{  text-align:left; margin-left:150px;   margin-bottom: 15px;}*/

.block_center span {  font-weight: bold;}

.block_center p {  text-align:center; }

.block_center select {  border:1px solid #CED5D7; padding: 2px 3px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
                    margin:5px 0;  width:110px; font-size:1.1em; }

.block_center select:focus{    outline: none;    box-shadow:0 0 0 3px #dde9ec;}


/*------------css footer------------------*/
#footer{
clear:both;
width: auto;
height:26px;
color: #fff;
background-color:#1871A8;
}
.copyright{
float:left;
padding-left:5px;
padding-top:3px;
}

.footer_links{
float:right;
padding-right:13px;
padding-top:12px;
}
.footer_links a{
text-decoration:none;
color: #fff;
padding-left:10px;
}
.footer_links a:hover{
text-decoration:underline;
color: #fff;
}